@model BizCollegeItr.Models.CourseHistory

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.CourseStatus)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CourseStatus)
    @Html.ValidationMessageFor(model => model.CourseStatus)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.StartedOn)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.StartedOn)
    @Html.ValidationMessageFor(model => model.StartedOn)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CompletedOn)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CompletedOn)
    @Html.ValidationMessageFor(model => model.CompletedOn)
</div>

<div class="editor-label">
    Course
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.CourseId, ((IEnumerable<BizCollegeItr.Models.Course>)ViewBag.PossibleCourses).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Title), 
        Value = option.CourseId.ToString(),
        Selected = (Model != null) && (option.CourseId == Model.CourseId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.CourseId)
</div>
