@model BizCollegeItr.Models.CourseHistory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CourseHistory</legend>

    <div class="display-label">CourseStatus</div>
    <div class="display-field">@Model.CourseStatus</div>

    <div class="display-label">StartedOn</div>
    <div class="display-field">@String.Format("{0:g}", Model.StartedOn)</div>

    <div class="display-label">CompletedOn</div>
    <div class="display-field">@String.Format("{0:g}", Model.CompletedOn)</div>

    <div class="display-label">Course</div>
    <div class="display-field">@(Model.Course == null ? "None" : Model.Course.Title)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


