@model IEnumerable<BizCollegeMvc.Models.StudentEnrollmentViewModel>
@{
    ViewBag.Title = "Index";
}
<p> @Html.ActionLink("Find Courses", "Search") </p>
<h2>
    Your courses...
</h2>
<table> 
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <div>
                    @Html.ActionLink(item.Course.Name, "Details", new { item.Course.Id })
                    <br />
                    @item.Course.Description
                </div>
            </td>
            <td>
                @if (item.EnrollmentInfo.DateStarted == DateTime.MinValue)
                {
                    // not started.  
                    <em class="NotStarted">Not Started </em>
                }
                else if (item.EnrollmentInfo.WasCourseCompleted)
                { 
                    @:Completed on <em class="finished"> @item.EnrollmentInfo.DateCompleted.ToShortDateString()</em>
                }
                else
                { 
                    @:Started on <em> @item.EnrollmentInfo.DateStarted.ToShortDateString()</em>
                                }
            </td>
        </tr>

    }
}
</table>
